name: CI-RealtekCardReader

# Controls when the workflow will run
on:
    # Trigger the workflow on push or pull request events 
    push:
    pull_request:
    # Allow to run this workflow manually from the Actions tab
    workflow_dispatch:
    # Run the workflow for published releases
    release:
        types: [published]

jobs:
    # Build the kext
    build:
        name: Build
        runs-on: macos-13
        steps:
            # Checkout the card reader repo
            - uses: actions/checkout@v6.0.1
            # Checkout the MacKernelSDK repo
            - uses: actions/checkout@v6.0.1
              with:
                repository: acidanthera/MacKernelSDK
                path: MacKernelSDK
            # Build the driver
            - run: xcodebuild -jobs 3 -configuration Debug
            - run: xcodebuild -jobs 3 -configuration Release
            # Upload the driver
            - name: Upload to Artifacts
              uses: actions/upload-artifact@v6
              with:
                name: Artifacts
                path: build/*/*.zip
            - name: Upload to Release
              if: github.event_name == 'release'
              uses: svenstaro/upload-release-action@v2
              with:
               repo_token: ${{ secrets.GITHUB_TOKEN }}
               file: build/*/*.zip
               tag: ${{ github.ref }}
               file_glob: true

    # Analyze the kext
    analyze:
        name: Analyze
        runs-on: macos-13
        steps:
            # Checkout the card reader repo
            - uses: actions/checkout@v6.0.1
            # Checkout the MacKernelSDK repo
            - uses: actions/checkout@v6.0.1
              with:
                repository: acidanthera/MacKernelSDK
                path: MacKernelSDK
            # Analyze the driver
            - run: xcodebuild analyze -quiet -scheme RealtekCardReader -configuration Debug CLANG_ANALYZER_OUTPUT=plist-html CLANG_ANALYZER_OUTPUT_DIR="$(pwd)/clang-analyze" && [ "$(find clang-analyze -name "*.html")" = "" ]
            - run: xcodebuild analyze -quiet -scheme RealtekCardReader -configuration Release CLANG_ANALYZER_OUTPUT=plist-html CLANG_ANALYZER_OUTPUT_DIR="$(pwd)/clang-analyze" && [ "$(find clang-analyze -name "*.html")" = "" ]
